{# templates/index.html #}
{% extends "default/main.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load humanize %}
{% block title %}Buying{% endblock title %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2">
        <h1 class="h2"><i class="fas fa-shopping-bag"></i> Buying - {{ objs }}</h1>
        <div class="text-left">
            <button class="btn btn-sm btn-outline-secondary" onclick="window.history.back();">
                <i class="fas fa-angle-left"></i> Back
            </button>
        </div>
    </div>
    <div class="text-right mt-2 mb-2 pt-0 h6 row">
        <div class="col-1 text-left">
            <button class="btn btn-sm btn-outline-secondary" id="id-btn-add-new" data-key="{{ opk }}"
            data-toggle="modal" data-target="#modal-change">
                <i class="fas fa-plus"></i> Add
            </button>
        </div>
        <div class="col-10"> Total Cost: $</div>
        <div class="col-1" style="float: right">{{ objs|get_buyingorder_total|floatformat:2|intcomma }}</div>
    </div>
    <div class="pb-5 mt-1">
        <table class="table table-sm table-bordered table-light table-striped table-hover mb-3">
            <thead>
            <tr class="text-md-center align-middle">
                <th width="3%">#</th>
                <th width="15%">Category</th>
                <th width="">Item</th>
                <th width="9%">Cost</th>
                <th width="7%">QTY/Buy</th>
                <th width="7%">QTY/Set</th>
                <th width="7%">Cost/Each</th>
                <th width="7%">QTY/Stock</th>
                <th width="9%">Subtotal</th>
                <th width="4%"></th>
            </tr>
            </thead>
            <tbody>
            {% for obj in items %}
                <tr class="text-md-center align-middle">
                    <th>{{ forloop.counter }}</th>
                    <td>{{ obj.item.category }}</td>
                    <td>{{ obj.item }}</td>
                    <td>{{ obj.cost }}</td>
                    <td>{{ obj.qty_buy }}</td>
                    <td>{{ obj.qty_set }}</td>
                    <td>{{ obj|get_item_detail:"each"|floatformat:2|intcomma }}</td>
                    <td>{{ obj|get_item_detail:"all"|floatformat:2|intcomma }}</td>
                    <td>{{ obj|get_item_detail:"subtotal"|floatformat:2|intcomma }}</td>
                    <td>
                        <a href="#" class="text-secondary btn-edit" data-key="{{ obj.pk }}" data-toggle="modal"
                           data-target="#modal-change"><i class="fas fa-pen-square"></i></a>&nbsp;
                        <a href="#" class="text-secondary btn-del" data-key="{{ obj.pk }}">
                            <i class="fas fa-minus-square"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation" class="mb-5">
            <ul class="mt-2 pagination justify-content-end">
                {# 上一页，这里需要用到has_previous方法判断是否有上一页 #}
                <li class="page-item">
                    <a href="{% url 'buying' %}?{{ url_get }}&p=1" class="page-link text-secondary"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {# 遍历所有页码 #}
                {% for page in pages.page_range %}
                    <li class="page-item"><a href="{% url 'buying' %}?{{ url_get }}&p={{ page }}"
                                             class="page-link text-secondary">{{ page }}</a></li>
                {% endfor %}

                <li class="page-item">
                    <a href="{% url 'buying' %}?{{ url_get }}&p={{ pages.num_pages }}" aria-label="Next"
                       class="page-link text-secondary">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="modal fade" id="modal-change" tabindex="-1">
            <div class="modal-dialog" style="max-width: 450px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>Change Buying</h6>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div id="id-modal-change-body">
                        ...
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock main %}

{% block js %}
    <script type="text/javascript">
        (function ($) {

            $('.btn-edit').click(function () {

                var url = '{% url 'api' %}?t=buying-change&bpk=' + $(this).data('key');

                $.ajax({
                    method: "GET",
                    url: url,
                    success: function (ret) {
                        console.log(ret);
                        $('#id-modal-change-body').html(ret);
                        $('#btn-change-form').click(function () {
                            $('#id-change-form').ajaxSubmit({
                                method: "POST",
                                url: url,
                                success: function (ret) {
                                    console.log(ret);
                                    if (ret.is_success) {
                                        location.reload();
                                    }
                                }
                            })
                        });
                    }
                });
            });

            $('.btn-del').click(function () {
                var url = '{% url 'api' %}?t=buying-change&bpk=' + $(this).data('key');
                if (confirm("This action CANNOT be restored,\n Are you sure??") === true) {
                    $.ajax({
                        method: 'DELETE',
                        url: url,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        success: function (ret) {
                            console.log(ret);
                            if (ret.is_success) {
                                location.reload();
                            }
                        }
                    });
                }
            });

            $('#id-btn-add-new').click(function () {

                var url = '{% url 'api' %}?t=buying-order-add&bopk=' + $(this).data('key');

                $.ajax({
                    method: "GET",
                    url: url,
                    success: function (ret) {
                        console.log(ret);
                        $('#id-modal-change-body').html(ret);
                        $('#btn-change-form').click(function () {
                            $('#id-change-form').ajaxSubmit({
                                method: "POST",
                                url: url,
                                success: function (ret) {
                                    console.log(ret);
                                    if (ret.is_success) {
                                        location.reload();
                                    }
                                }
                            })
                        });
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock js %}