{#  templates/opening_amount.html #}
{% extends 'default/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block title %}Opening Store{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="m-3">
            <form method="post" class="">
                <div class="form-group border p-3">
                    {% crispy form %}
                </div>
                <div class="form-row">
                    <div class="col-9"></div>
                    <div class="btn-group col-1">

                        <button class="btn btn-sm btn-outline-secondary" type="submit">
                            <i class="fas fa-edit"></i> Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

{% block js %}
<script type="text/javascript">

</script>
{% endblock js %}